<div class="modal fade" id="modal_agregar_editar_categoria_trastorno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Categoría de Trastornos del DSM-5</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_categoria_trastorno'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_categoria_trastorno">
        <div class="form-group mb-3 py-4">
          <label for="nombre_categoria_trastorno" class="form-label">
            <span class='required'>
              Categoría de Trastorno
            </span>
            </label>
          <input type="text" class="form-control" id="nombre_categoria_trastorno" placeholder="Categoría de Trastorno" required>
        </div>
        <div class="form-group form-check py-4">
          <input class="form-check-input" type="checkbox" value="" id="estado_categoria_trastorno">
          <label class="form-check-label" for="estado_categoria_trastorno">
            Habilitado
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_categoria_trastorno">Cancelar</button>
        <button type="button" class="btn btn-primary" id='btn_agregar_categoria_trastorno'>
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
