{% extends "plantilla/index.html" %} 

{% block title %} SiGI-LEIP {% endblock %}

{% block css %}
{% load static %}
  <link href="{% static "/css/styles.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido_barra_titulo %}
  <h1>
    Horario Cita Valoración
  </h1>
  <nav>
    <ol class="breadcrumb py-0">
      <li class="breadcrumb-item"><a href="{% url "inicio:dashboard" %}">Inicio</a></li>
      <li class="breadcrumb-item">Configuración</li>
      <li class="breadcrumb-item active">Horario Cita Valoración</li>
    </ol>
  </nav>
{% endblock %}          

{% block contenido %}
  {% load static %}

      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body py-4">
            <div class="form-group form-check py-4">
              <input class="form-check-input" type="checkbox" value="" id="check_lunes">
              <label class="form-check-label" for="check_lunes">
                Lunes
              </label>
            </div>
    
            <div class="form-group mb-1 py-2">
              <label for="horas_lunes" class="form-label">
                Horas
              </label>
              <select class='form-control basic-multiple' id='horas_lunes' multiple disabled></select>
            </div>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-body py-4">
            <div class="form-group form-check py-4">
              <input class="form-check-input" type="checkbox" value="" id="check_jueves">
              <label class="form-check-label" for="check_jueves">
                Jueves
              </label>
            </div>
    
            <div class="form-group mb-1 py-2">
              <label for="horas_jueves" class="form-label">
                Horas
              </label>
              <select class='form-control basic-multiple' id='horas_jueves' multiple disabled></select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body py-4">
            <div class="form-group form-check py-4">
              <input class="form-check-input" type="checkbox" value="" id="check_martes">
              <label class="form-check-label" for="check_martes">
                Martes
              </label>
            </div>
    
            <div class="form-group mb-1 py-2">
              <label for="horas_martes" class="form-label">
                Horas
              </label>
              <select class='form-control basic-multiple' id='horas_martes' multiple disabled></select>
            </div>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-body py-4">
            <div class="form-group form-check py-4">
              <input class="form-check-input" type="checkbox" value="" id="check_viernes">
              <label class="form-check-label" for="check_viernes">
                Viernes
              </label>
            </div>
    
            <div class="form-group mb-1 py-2">
              <label for="horas_viernes" class="form-label">
                Horas
              </label>
              <select class='form-control basic-multiple' id='horas_viernes' multiple disabled></select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-body py-4">
            <div class="form-group form-check py-4">
              <input class="form-check-input" type="checkbox" value="" id="check_miercoles">
              <label class="form-check-label" for="check_miercoles">
                Miércoles
              </label>
            </div>
    
            <div class="form-group mb-1 py-2">
              <label for="horas_miercoles" class="form-label">
                Horas
              </label>
              <select class='form-control basic-multiple' id='horas_miercoles' multiple disabled></select>
            </div>
          </div>
        </div>

        <div class="card shadow-sm">
          <div class="card-body py-4">
            <div class="form-group form-check py-4">
              <input class="form-check-input" type="checkbox" value="" id="check_sabado">
              <label class="form-check-label" for="check_sabado">
                Sábado
              </label>
            </div>
    
            <div class="form-group mb-1 py-2">
              <label for="horas_sabado" class="form-label">
                Horas
              </label>
              <select class='form-control basic-multiple' id='horas_sabado' multiple disabled></select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card shadow-sm">
          <div class="card-body py-4 modal-footer">
            <button type="button" class="btn btn-primary" id='btn_guardar_cita_valoracion'> Guardar </button>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static '/js/horarios/cita_valoracion/main_functions.js' %}"></script>
{% endblock %}