{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> SiGI-LEIP </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "/assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "/assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <link href="{% static "/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "/assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "/assets/vendor/quill/quill.snow.css" %}" rel="stylesheet">
  <link href="{% static "/assets/vendor/quill/quill.bubble.css" %}" rel="stylesheet">
  <link href="{% static "/assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "/bootstrap-datepicker/bootstrap-datepicker.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/sweetAlert/css/sweetalert.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/select2/css/select2.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/dataTables/dataTables.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/dataTables/select.DataTables.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/dataTables/button.dataTables.min.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "/dataTables/jquery.dataTables.min.css" %}" rel="stylesheet" type="text/css" />

  <link href="{% static "/assets/css/style.css" %}" rel="stylesheet">
  <link href="{% static "/css/styles_animation.css" %}" rel="stylesheet" type="text/css" />
   <link href="{% static "/css/crear_cuenta/styles.css" %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <main>
    <div class="container">
      <div class="form-wizard">
        <div class="wizard-header">
          <h1>Registre sus Datos para crear una Cuenta de Usuario</h1>
          <div class="progress-steps">
            <div class="step active" data-step="1">
              <div class="step-icon">
                <i class="bi bi-people-fill"></i>
              </div>
              <div class="step-label">Tipo de Persona</div>
            </div>
            <div class="step" data-step="2">
              <div class="step-icon">
                <i class="bi bi-person-lines-fill"></i>
              </div>
              <div class="step-label">Datos de la Persona</div>
            </div>
            <div class="step" data-step="3">
              <div class="step-icon">
                <i class="bi bi-person-fill"></i>
              </div>
              <div class="step-label">Datos del Usuario</div>
            </div>
            <div class="step" data-step="4">
              <div class="step-icon">
                <i class="bi bi-person-check-fill"></i>
              </div>
              <div class="step-label">Fin</div>
            </div>
          </div>
        </div>
            
        <div class="form-step active" data-step="1">
          <h2>Seleccione un Tipo de Persona</h2>
          <div class="form-group">
            <div class="radio-cards">
              <input type="radio" class='rb-tp' name="tipo_persona_cc" id="tipo_persona_cu" value="cu" checked>
              <label class="card" for="basic">
                <div class="card-content">
                  <h2>Comunidad Universitaria</h2>
                  <p class="text-card">Persona que pertenece a la Universidad UDG</p>
                </div>
              </label>
              <input type="radio" class='rb-tp' name="tipo_persona_cc" id="tipo_persona_pg" value="pg">
              <label class="card" for="premium">
                <div class="card-content">
                  <h2>Población General</h2>
                  <p class="text-card">Persona que no pertenece a la Universidad UDG</p>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="form-step" data-step="2">
          <form id="form_persona_cc" name="form_persona_cc">
            {% csrf_token %}
            <h2>Datos de la Persona</h2>
            <h4>Datos Personales</h4>
            <hr>
            <div id='cc_comunidad_universitaria'>
              <div class='row'>
                <div class="col-xl-6">
                  <div class="form-group">
                    <label for="cc_codigo_udg" class="form-label">
                      <span class='required'>
                        Código UDG
                      </span>
                    </label>
                    <input type="text" class="form-control" id="cc_codigo_udg" name='cc_codigo_udg' placeholder="Código UDG" required>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group select-tipo-persona-udg">
                    <label for="cc_tipo_persona_udg" class="form-label">
                      <span class='required'>
                        Tipo de Persona en UDG
                      </span>
                    </label>
                    <select class='form-control' id='cc_tipo_persona_udg' name='cc_tipo_persona_udg' required></select>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_nombre_persona" class="form-label">
                    <span class='required'>
                      Nombre
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_nombre_persona" name='cc_nombre_persona' placeholder="Nombre" required>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_segundo_nombre_persona" class="form-label">
                      Segundo Nombre
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_segundo_nombre_persona" name='cc_segundo_nombre_persona' placeholder="Segundo Nombre">
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_apellido_persona" class="form-label">
                    <span class='required'>
                      Apellido
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_apellido_persona" name='cc_apellido_persona' placeholder="Apellido" required>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_segundo_apellido_persona" class="form-label">
                    <span class='required'>
                      Segundo Apellido
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_segundo_apellido_persona" name='cc_segundo_apellido_persona' placeholder="Segundo Apellido" required>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_email_persona" class="form-label">
                    <span class='required'>
                      Correo electrónico
                    </span>
                  </label>
                  <input type="email" class="form-control" id="cc_email_persona" name='cc_email_persona' placeholder="_@_" required>
                </div>
              </div>
              <div class='col-xl-6'>
                <div class="form-group">
                  <label for="cc_fecha_nacimiento" class="form-label">
                    <span class='required'>
                      Fecha de nacimiento
                    </span>
                  </label>
                  <div class='input-group date cc_fecha_nacimiento_persona'>
                    <span class='input-group-addon'></span>
                    <input type='text' class='form-control' placeholder='dd/mm/aaaa' id='cc_fecha_nacimiento' name='cc_fecha_nacimiento' required readOnly>
                  </div>
                </div>
              </div>
              <div class='col-xl-6'>
                <div class="form-group">
                  <label for="cc_sexo" class="form-label">
                    <span class='required'>
                      Sexo
                    </span>
                  </label>
                  </br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptionsCcSexo" id="cc_check_sexo_hombre" value="H">
                    <label class="form-check-label" for="cc_check_sexo_hombre">Hombre</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptionsCcSexo" id="cc_check_sexo_mujer" value="M">
                    <label class="form-check-label" for="cc_check_sexo_mujer">Mujer</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cc_genero" class="form-label">
                    <span class='required'>
                      Género
                    </span>
                  </label>
                  </br>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptionsCcGenero" id="cc_check_genero_masculino" value="M">
                    <label class="form-check-label" for="cc_check_genero_masculino">Masculino</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptionsCcGenero" id="cc_check_genero_femenino" value="F">
                    <label class="form-check-label" for="cc_check_genero_femenino">Femenino</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptionsCcGenero" id="cc_check_genero_no_binario" value="B">
                    <label class="form-check-label" for="cc_check_genero_no_binario">No Binario</label>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_telefono_contacto" class="form-label">
                    <span class='required'>
                      Teléfono de contacto
                    </span>
                  </label>
                  <input type="text" class="form-control input-number" id="cc_telefono_contacto" name='cc_telefono_contacto' required>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group select-estado-cc">
                  <label for="cc_persona_estado" class="form-label">
                    <span class='required'>
                      Estado
                    </span>
                  </label>
                  <select class='form-control' id='cc_persona_estado' name='cc_persona_estado' required></select>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group select-municipio-cc">
                  <label for="cc_persona_municipio" class="form-label">
                    <span class='required'>
                      Municipio
                    </span>
                  </label>
                  <select class='form-control' id='cc_persona_municipio' name='cc_persona_municipio' required></select>
                </div>
              </div>
              <div class="form-group">
                <label for="cc_direccion_persona" class="form-label">
                  <span class='required'>
                    Dirección
                  </span>
                </label>
                <textarea type="text" class="form-control" id="cc_direccion_persona" name='cc_direccion_persona' required></textarea>
              </div>
            </div>

            </br>
            <h4>En caso de una emergencia, llamar a</h4>
            <hr>
            <div class='row'>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_nombre_emergencia" class="form-label">
                    <span class='required'>
                      Nombre(s) y Apellidos
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_nombre_emergencia" name='cc_nombre_emergencia' placeholder="Nombre(s) y Apellidos" required>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_parentesco" class="form-label">
                    <span class='required'>
                      Parentesco
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_parentesco" name='cc_parentesco' placeholder="Parentesco" required>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_telefono_emergencia" class="form-label">
                    <span class='required'>
                      Teléfono de contacto
                    </span>
                  </label>
                  <input type="text" class="form-control input-number" id="cc_telefono_emergencia" name='cc_telefono_emergencia' required>
                </div>
              </div>
            </div>

            </br>
            <h4>Para menores de edad o personas que requieran de un acompañamiento especial </h4>
            <hr>
            <div class='row'>
              <h7><strong> Por favor indicar el nombre del o la responsable </strong></h7>
              <div class="col-xl-6">
                <div class="form-group">
                  <label for="cc_nombre_responsable" class="form-label">
                    <span>
                      Nombre(s) y Apellidos
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_nombre_responsable" name='cc_nombre_responsable' placeholder="Nombre(s) y Apellidos">
                </div>
              </div>
            </div>
          </form>
        </div> <!-- end paso 2-->

        <div class="form-step" data-step="3">
          <form id="form_usuario_cc" name="form_usuario_cc">
            {% csrf_token %}
            <h2>Datos del Usuario</h2>
            <div class="row">
              <div class="col-xl-6">
                <h4>Persona</h4>
                <div class="form-group">
                  <label for="cc_nombre_usuario" class="form-label">
                    <span class='required'>
                      Usuario
                    </span>
                  </label>
                  <input type="text" class="form-control" id="cc_nombre_usuario" name="cc_nombre_usuario" placeholder="Usuario" required>
                </div>
                <div class="form-group">
                  <label for="cc_contrasenna_usuario" class="form-label">
                    <span class='required'>
                      Contraseña
                    </span>
                  </label>
                  <input type="password" class="form-control" id="cc_contrasenna_usuario" name="cc_contrasenna_usuario" placeholder="Contraseña" required>
                </div>
                <div class="form-group">
                  <label for="cc_confirmar_contrasenna_usuario" class="form-label">
                    <span class='required'>
                      Confirmar Contraseña
                    </span>
                  </label>
                  <input type="password" class="form-control" id="cc_confirmar_contrasenna_usuario" name="cc_confirmar_contrasenna_usuario" placeholder="Confirmar Contraseña" required>
                </div>

                <div class="form-group form-check">
                  <input class="form-check-input" type="checkbox" value="" id="cc_trabajador_ley" name="cc_trabajador_ley">
                  <label class="form-check-label" for="cc_trabajador_ley">
                    Autorizo el uso de mis datos de forma anónima para fines de estudios y análisis en atención psicológica
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div> <!--end paso 3-->

        <div class="form-step" data-step="4">
          <h2>Detalles del Perfil</h2>
          <div id="reviewInfo" class="review-info">
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Nombre completo</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="full_name_profile"></span>
							</div>
						</div>
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Usuario</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="user_profile"></span>
							</div>
						</div>
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Fecha de Nacimiento</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="birth_date_profile"></span>
							</div>
						</div>
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Sexo</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="sex_profile"></span>
							</div>
						</div>
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Correo electrónico</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="email_profile"></span>
							</div>
						</div>
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Teléfono de contacto</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="phone_profile"></span>
							</div>
						</div>
            <div class="row mb-7">
							<label class="col-lg-4 fw-bold text-muted">Dirección</label>
							<div class="col-lg-8">
								<span class="fw-bolder fs-6 text-gray-800" id="address_profile"></span>
							</div>
						</div>
          </div>
        </div> <!--end paso 4-->

        <div class="form-buttons">
          <button type="button" class="btn btn-prev" style="display: none;">
            <i class="bi bi-arrow-left-short"></i> Anterior
          </button>
          <button type="button" class="btn btn-next">
            Siguiente <i class="bi bi-arrow-right-short"></i>
          </button>
          <button type="button" class="btn btn-submit" style="display: none;" id="btn_crear_nueva_cuenta">
            Guardar <i class="bi bi-check2-all"></i>
          </button>
          <a class="btn btn-primary" href="{% url 'logout' %}" id="btn_inicio_sesion" style="display: none;">Inicio de Sesión</a>
          <!--<button type="button" class="btn btn-primary" style="display: none;" id="btn_inicio_sesion">
            Inicio de Sesión
          </button>-->
        </div>
      </div> <!-- end form-wizard-->
    </div><!--end container-->
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="{% static "/assets/vendor/apexcharts/apexcharts.min.js" %}"></script>
	<script src="{% static "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
	<script src="{% static "/assets/vendor/chart.js/chart.umd.js" %}"></script>
	<script src="{% static "/assets/vendor/echarts/echarts.min.js" %}"></script>
	<script src="{% static "/assets/vendor/quill/quill.min.js" %}"></script>
	<script src="{% static "/assets/vendor/simple-datatables/simple-datatables.js" %}"></script>
	<script src="{% static "/assets/vendor/tinymce/tinymce.min.js" %}"></script>
	<script src="{% static "/assets/vendor/php-email-form/validate.js" %}"></script>
  <!-- Template Main JS File -->
 	<script src="{% static "/assets/js/main.js" %}"></script>
	<!--pluging jQuery-->
	<script src="{% static "/jQuery/jquery.js" %}"></script>
  <script src="{% static "/jQuery/jquery.min.js" %}"></script>
  <!--pluging jquery.blockUI-->
	<script src="{% static "/jQuery/jquery.blockUI.js" %}"></script>
	<!--pluging datatables-->
	<script src="{% static "/dataTables/dataTables.min.js" %}"></script>
	<script src="{% static "/dataTables/dataTables.buttons.min.js" %}"></script>
	<script src="{% static "/dataTables/dataTables.select.min.js" %}"></script>
	<script src="{% static "/dataTables/jquery.dataTables.min.js" %}"></script>
  <!--pluging sweetAlert-->
  <script src="{% static "/sweetAlert/js/sweetalert.min.js" %}"></script>
  <!--pluging Select2-->
  <script src="{% static "/select2/js/select2.full.js" %}"></script>
  <script src="{% static "/select2/js/select2.full.min.js" %}"></script>
  <script src="{% static "/select2/js/select2.js" %}"></script>
  <script src="{% static "/select2/js/select2.min.js" %}"></script>
  <script src="{% static "/select2/js/i18n/es.js" %}"></script>
  <!-- pluging jQuery-minicolors -->
  <script src="{% static "/jquery-minicolors/jquery.minicolors.min.js" %}"></script>
  <!-- pluging bootstrap-datepicker-->
  <script src="{% static "/bootstrap-datepicker/bootstrap-datepicker.min.js" %}"></script>
  <script src="{% static "/bootstrap-datepicker/bootstrap-datepicker.es.min.js" %}"></script>
  <!-- pluging jQuery-validate -->
  <script src="{% static "/jquery-validate/jquery.validate.min.js" %}"></script>
  <!-- pluging timepicker-->
  <script src="{% static "/jquery.timepicker/jquery.timepicker.min.js" %}"></script>
  <script src="{% static "/js/notificaciones.js" %}"></script>


  <script src="{% static '/js/usuario/crear_cuenta.js' %}"></script>

</body>

</html>