<div class="modal fade" id="modal_agregar_editar_ingreso_familiar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Ingreso Familiar</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_ingreso_familiar'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_ingreso_familiar">
        <div class="form-group mb-3 py-4">
          <label for="ingreso" class="form-label">
            <span class='required'>
              Ingresos Familiares Mensuales
            </span>
            </label>
          <input type="text" class="form-control" id="ingreso" placeholder="Ingreso Familiar Mensual" required>
        </div>
        <div class="form-group mb-3 py-4">
          <label for="nivel" class="form-label">
            <span class='required'>
              Nivel
            </span>
            </label>
          <input type="text" class="form-control" id="nivel" placeholder="Nivel" required>
        </div>
        <div class="form-group mb-3 py-4">
          <label for="color" class="form-label">
            <span class='required'>
              Color definido
            </span>
            </label>
            <br />
          <input type="text" class="form-control" id="color" required>
        </div>
        <div class="form-group form-check py-4">
          <input class="form-check-input" type="checkbox" value="" id="estado_ingreso_familiar">
          <label class="form-check-label" for="estado_ingreso_familiar">
            Habilitado
          </label>
        </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_ingreso_familiar">Cancelar</button>
        <button type="button" class="btn btn-primary" id='btn_agregar_ingreso_familiar'>
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
