{% extends "plantilla/index.html" %} 

{% block title %} SiGI-LEIP {% endblock %}

{% block css %}
{% load static %}
  <link href="{% static "/css/styles.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido_barra_titulo %}
  <h1>
    Listado de Diagnósticos del MSD-5
  </h1>
  <nav>
    <ol class="breadcrumb py-0">
      <li class="breadcrumb-item"><a href="{% url "inicio:dashboard" %}">Inicio</a></li>
      <li class="breadcrumb-item">Configuración</li>
      <li class="breadcrumb-item active">Diagnósticos del MSD-5</li>
    </ol>
  </nav>
{% endblock %}          

{% block contenido %}
  {% load static %}

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-title"></div>
        <div class="card-toolbar">
          <div class="alert alert-danger" id='alerta_categoria_diagnostico'>
            <div class="d-flex flex-column">
              <h4 class="mb-1 text-danger"> <i class='bi bi-exclamation-triangle'></i> Alerta</h4>
              <span>No existen Categoría de Trastornos registradas en el sistema. Por favor registre al menos una para poder registrar Diagnósticos.</span>
            </div>
          </div>
          <div class="d-flex justify-content-end" id='block_actions'>
            <!--btn Agregar nuevo agregar-->
            <button type="button" class="btn btn-primary btn-hover-scale me-5" id='btn_nuevo_diagnostico'>
              <i class='bi bi-plus-lg'></i> Agregar
            </button>

            <!--Dropdown con opciones de eliminar y editar-->
            <div id='dropdown_acciones_listado_diagnostico'>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-active-light-primary dropdown-toggle btn-hover-scale me-5" data-bs-toggle="dropdown" aria-expanded="false">
                  Acciones
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" id='btn_editar_diagnostico'>
                      <i class='bi bi-pencil-fill'></i>
                      Editar
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" id='btn_eliminar_diagnostico'>
                      <i class='bi bi-trash-fill'></i>
                      Eliminar
                    </button>
                  </li>
                </ul>
              </div>              
          </div>
        </div>
      </div>

      <div class="card-body py-4">
        <table class="table align-middle table-row-dashed table-hover fs-6 gy-5 gs-5" id="tabla_diagnosticos">
          <thead>
            <tr class='text-start text-muted fw-bolder fs-7 text-uppercase gs-0'>
              <th scope="min-w-125px">Diagnóstico</th>
              <th scope="min-w-125px">Grupo de Trastornos</th>
              <th scope="min-w-125px">Categoría de Trastorno</th>
              <th scope="min-w-125px">Estado</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 fw-bold">

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!--begin::modal agregar diagnostico-->
  {% include "configuracion/diagnostico/agregar_diagnostico.html" %}
  <!--end::modal agregar diagnostico-->

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static '/js/diagnostico/main_functions.js' %}"></script>
{% endblock %}