<div class="modal fade" id="modal_seguimiento_atencion" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Seguimiento de Atención</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_seguimiento'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_seguimiento">
        <input type="hidden" class="form-control" id="id_usuario_autenticado">

        <div class="form-group mb-3 py-4">
          <label for="fecha_seguimiento" class="form-label">
            <span class='required'>
              Fecha de Seguimiento
            </span>
          </label>
          <div class='input-group date fecha_seguimiento_atencion'>
            <span class='input-group-addon'></span>
            <input type='text' class='form-control' placeholder='dd/mm/aaaa' id='fecha_seguimiento' required readOnly>
          </div>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="persona_seguimiento" class="form-label">
            <span class='required'>
              Seguimiento realizado por:
            </span>
          </label>
          <input type="text" class="form-control" id="persona_seguimiento" placeholder="Seguimiento realizado por" required readOnly>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="estado_seguimiento" class="form-label">
            <span class='required'>
              Estado
            </span>
          </label>
          <select class='form-control' id='estado_seguimiento' required></select>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="observaciones_seguimiento" class="form-label">
            <span class='required'>
              Observaciones
            </span>
          </label>
          <textarea type="text" class="form-control" id="observaciones_seguimiento" required></textarea>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_seguimiento_atencion">Cancelar</button>
          <button type="button" class="btn btn-primary" id='btn_guardar_seguimiento_atencion'>
            Guardar
          </button>
        </div>
      </div>      
    </div>
  </div>
</div>