<div class="modal fade" id="modal_decidir_valoracion" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog size_modal_50">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Decidir Valoración</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_decidir_valoracion'></button>
      </div>
      <div class="modal-body">
        <div class="form-group mb-3 py-4">
          <label for="fecha_valoracion" class="form-label">
            <span class='required'>
              Fecha de Valoración
            </span>
          </label>
          <div class='input-group date fecha_valoracion_atencion'>
            <span class='input-group-addon'></span>
            <input type='text' class='form-control' placeholder='dd/mm/aaaa' id='fecha_valoracion' required readOnly>
          </div>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="valorado_por" class="form-label">
            <span class='required'>
              Valorado por
            </span>
          </label>
          <input type="text" class="form-control" id="valorado_por" readOnly disabled required>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="tipo_atencion_valoracion" class="form-label">
            <span class='required'>
              Tipo de Atención
            </span>
          </label>
          <select class='form-control' id='tipo_atencion_valoracion' required></select>
        </div>

        <div class="form-group mb-3 py-4" id='seccion_tipo_institucion'>
          <label for="tipo_institucion_valoracion" class="form-label">
            <span class='required'>
              Tipo de Institución
            </span>
          </label>
          <select class='form-control' id='tipo_institucion_valoracion' required></select>
        </div>

        <div class="form-group mb-3 py-4" id='seccion_institucion'>
          <label for="institucion_valoracion" class="form-label">
            <span class='required'>
              Institución
            </span>
          </label>
          <select class='form-control' id='institucion_valoracion' required></select>
        </div>

        <div class="d-flex justify-content-end" id='seccion_botones_tabla'>
          <div class='btn-group'>
            <button type="button" class="btn btn-primary" id="btn_add_taller">+</button>
            <button type="button" class="btn btn-danger" id="btn_eliminar_taller">-</button>
          </div>
        </div>
        
        <table class="table align-middle table-row-dashed table-hover fs-6 gy-5 gs-5" id='tabla_valoracion_talleres'>
          <thead>
            <tr class='text-start text-muted fw-bolder fs-7 text-uppercase gs-0'>
              <th>id</th>
              <th scope="col">Taller</th>
              <th scope="col">Modalidad</th>
              <th scope="col">Fecha de Inicio</th>
              <th scope="col">Fecha de Fin</th>
              <th scope="col">Especialista que imparte</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 fw-bold">

          </tbody>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_decidir_valoracion">Cancelar</button>
          <button type="button" class="btn btn-primary" id='btn_agregar_valoracion'>Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
