<div
  class="modal fade"
  id="modal_agregar_diagnostico_dsm5"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Agregar Diagnósticos DSM-5
        </h1>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          id="btn_cerrar_modal_add_diagnostico_dsm5"
        ></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_diagnostico_dsm5" />

        <div class="form-group mb-3 py-4">
          <label for="categoria_diagnostico_dsm5" class="form-label">
            <span class="required"> Categoría de Trastorno </span>
          </label>
          <select
            class="form-control"
            id="categoria_diagnostico_dsm5"
            required
          ></select>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="diagnostico_dsm5" class="form-label">
            <span class="required"> Diagnóstico </span>
          </label>
          <select class="form-control" id="diagnostico_dsm5" required></select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          id="btn_cancelar_modal_add_diagnostico_dsm5"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="btn_add_diagnostico_dsm5"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
