<div class="modal fade" id="modal_diagnostico_dsm5" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog size_modal_50">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Diagnóstico Provisional DSM-5</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_diagnostico_dsm5'></button>
      </div>
      <div class="modal-body">
        <div class="card shadow-sm card-light-background">
          <div class="card-body">
            <div class="form-group mb-1 py-2">
              <strong><span id='nombre_persona_autenticada'></span></strong>
              </br>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <div class='btn-group'>
            <button type="button" class="btn btn-primary" id="btn_modal_add_diagnostico_dsm5">+</button>
            <button type="button" class="btn btn-danger" id="btn_eliminar_diagnostico_dsm5">-</button>
          </div>
        </div>
        
        <table class="table align-middle table-row-dashed table-hover fs-6 gy-5 gs-5" id='tabla_diagnosticos_dsm5'>
          <thead>
            <tr class='text-start text-muted fw-bolder fs-7 text-uppercase gs-0'>
              <th>id</th>
              <th scope="col">Diagnóstico</th>
              <th scope="col">Categoría de Trastorno</th>
              <th scope="col">Grupo de Trastorno</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 fw-bold">

          </tbody>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_diagnostico_dsm5">Cancelar</button>
          <button type="button" class="btn btn-primary" id='btn_agregar_diagnostico_dsm5'>Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
