{% extends "plantilla/index.html" %} 

{% block title %} SiGI-LEIP {% endblock %}

{% block css %}
{% load static %}
  <link href="{% static "/css/styles.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido_barra_titulo %}
  <h1>
    Listado de Instituciones para Derivar
  </h1>
  <nav>
    <ol class="breadcrumb py-0">
      <li class="breadcrumb-item"><a href="{% url "inicio:dashboard" %}">Inicio</a></li>
      <li class="breadcrumb-item">Configuración</li>
      <li class="breadcrumb-item active">Listado de Instituciones para Derivar</li>
    </ol>
  </nav>
{% endblock %}          

{% block contenido %}
  {% load static %}

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-title"></div>
        <div class="card-toolbar">
          <div class="d-flex justify-content-end">
            <!--btn Agregar nueva institucion-->
            <button type="button" class="btn btn-primary btn-hover-scale me-5" id='btn_nueva_institucion'>
              <i class='bi bi-plus-lg'></i> Agregar
            </button>

            <!--Dropdown con opciones de eliminar y editar-->
            <div id='dropdown_acciones_listado_institucion'>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-active-light-primary dropdown-toggle btn-hover-scale me-5" data-bs-toggle="dropdown" aria-expanded="false">
                  Acciones
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" id='btn_editar_institucion'>
                      <i class='bi bi-pencil-fill'></i>
                      Editar
                    </button>
                  </li>
                  <li>
                    <button class="dropdown-item" id='btn_eliminar_institucion'>
                      <i class='bi bi-trash-fill'></i>
                      Eliminar
                    </button>
                  </li>
                </ul>
              </div>
              
          </div>
        </div>
      </div>

      <div class="card-body py-4">
        <table class="table align-middle table-row-dashed table-hover fs-6 gy-5 gs-5" id="tabla_instituciones">
          <thead>
            <tr class='text-start text-muted fw-bolder fs-7 text-uppercase gs-0'>
              <th scope="min-w-125px">Tipo</th>
              <th scope="min-w-125px">Estado</th>
              <th style="width: 200px;">Nombre</th>
              <th style="width: 300px;">Descripción</th>
              <th style="width: 300px;">Domicilio</th>
              <th scope="min-w-125px">Contacto</th>
              <th scope="min-w-125px">Correo Electrónico</th>
              <th scope="min-w-125px">Sitio Web</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 fw-bold">

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <!--begin::modal agregar institucion-->
  {% include "configuracion/institucion/agregar_institucion.html" %}
  <!--end::modal agregar institucion-->

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static '/js/institucion/main_functions.js' %}"></script>
{% endblock %}