<div class="modal fade" id="modal_agregar_editar_municipio" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Municipios</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_municipio'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_municipio">
        <div class="form-group mb-3 py-4">
          <label for="nombre_municipio" class="form-label">
            <span class='required'>
              Nombre
            </span>
          </label>
          <input type="text" class="form-control" id="nombre_municipio" placeholder="Nombre" required>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="estados" class="form-label">
            <span class='required'>
              Estados
            </span>
          </label>
          <select class='form-control' id='municipio_estados' required></select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_municipio">Cancelar</button>
        <button type="button" class="btn btn-primary" id='btn_agregar_municipio'>
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
