{% extends "plantilla/index.html" %} 

{% block title %} SiGI-LEIP {% endblock %}

{% block contenido_barra_titulo %}
    <h1>Bienvenidos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dashboard_url}}">Inicio</a></li>
          <li class="breadcrumb-item active">Bienvenidos</li>
        </ol>
      </nav>
{% endblock %}          

{% block contenido %}
  {% load static %}

  <!--Bienvenido usuario-->
  <div class='col-lg-12'>
    <div class="card">
      <div class="card-body bg-anim">
        <h1 class='message_welcome'>
          Bienvenido <strong>{{ user.username }}</strong> al Sistema de Atención e Intervención Psicológica. <strong>SiGI-LEIP</strong>
        </h1>

        <div clas='animatedBackground'>
          <ul class='squares'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <!--Solicitudes de Atención Charts-->
    <div class="card">
      <div class="card-body pb-0">
        <h5 class="card-title">Solicitudes de Atención <span id='total_solicitudes_atencion'></span></h5>

        <div id="solicitudes_atencion_charts" style="min-height: 400px;" class="echart"></div>

      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static "/js/main/graficos_dashboard.js" %}"></script>
{% endblock %}