<div class="modal fade" id="modal_asignar_psicoterapeuta" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Asignar Psicoterapeuta</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_asignar_psicoterapeuta'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_asignar_psicoterapeuta">
        <input type="hidden" class="form-control" id="id_usuario_psicoterapeuta">

        <div class="card shadow-sm card-light-background">
          <div class="card-body">
            <div class="form-group mb-1 py-2">
              <label for="pregunta_uno" class="form-label">
                <span>
                  Horario disponible para consultas:
                </span>
              </label>
              </br>
              <span id='horario_cita_asignar_psicoterapeuta'></span>
            </div>
          </div>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="psicoterapeuta_asignar" class="form-label">
            <span class='required'>
              Psicoterapeuta
            </span>
          </label>
          <select class='form-control' id='psicoterapeuta_asignar' required></select>
        </div>

        <div class="form-group mb-3 py-4">
          <label for="fecha_consulta" class="form-label">
            <span class='required'>
              Fecha de Inicio de Consulta
            </span>
          </label>
          <div class='input-group date fecha_consulta_asignar'>
            <span class='input-group-addon'></span>
            <input type='text' class='form-control' placeholder='dd/mm/aaaa' id='fecha_consulta' required readOnly>
          </div>
        </div>

        <div class="col-xl-6">
          <div class="form-group mb-3 py-4">
            <label for="hora_consulta" class="form-label">
              <span class='required'>
                Hora de Consulta Inicial
              </span>
            </label>
            <input type="time" class="form-control" id="hora_consulta" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_asignar_psicoterapeuta">Cancelar</button>
          <button type="button" class="btn btn-primary" id='btn_guardar_asignar_psicoterapeuta'>
            Guardar
          </button>
        </div>
      </div>      
    </div>
  </div>
</div>