<div class="modal fade" id="modal_disponibilidad_horario_consulta" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Disponibilidad Horario Consulta</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_disponibilidad_horario_consulta'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_disponibilidad_horario_consulta">
        <input type="hidden" class="form-control" id="id_usuario_autenticado">

        <label class="form-label">
          <strong>
            Horario disponible del Solicitante para las Consultas.
            </br>
            (Se recomienda especifivar varios días y horas)
          </strong>
        </label>
        </br>
        </br>

        <div id="box_edit_horarios_disponibilidad" style="position: relative;">
          <div class="form-group form-check py-2" style="position: absolute; right: 0;">
            <input class="form-check-input" type="checkbox" value="" id="check_edit_disp">
            <label class="form-check-label" for="check_edit_disp">
              Editar Horarios
            </label>
          </div>
          </br>
          </br>
        </div>

        <div class="card shadow-sm" id='card_horarios_dispobilidad'>
          <div class="card-body">
            <div id="box_lunes_disp">
              <div class="form-group form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="check_disp_lunes">
                <label class="form-check-label" for="check_disp_lunes">
                  Lunes
                </label>
              </div>

              <div class="form-group mb-1 py-2">
                <label for="horas_disp_lunes" class="form-label">
                  Horas
                </label>
                <select class='form-control basic-multiple' id='horas_disp_lunes' multiple></select>
              </div>
              <hr/>
            </div>
              
            <div id="box_martes_disp">
              <div class="form-group form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="check_disp_martes">
                <label class="form-check-label" for="check_disp_martes">
                  Martes
                </label>
              </div>

              <div class="form-group mb-1 py-2">
                <label for="horas_disp_martes" class="form-label">
                  Horas
                </label>
                <select class='form-control basic-multiple' id='horas_disp_martes' multiple></select>
              </div>
              <hr/>
            </div>
              
            <div id="box_miercoles_disp">
              <div class="form-group form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="check_disp_miercoles">
                <label class="form-check-label" for="check_disp_miercoles">
                  Miércoles
                </label>
              </div>

              <div class="form-group mb-1 py-2">
                <label for="horas_disp_miercoles" class="form-label">
                  Horas
                </label>
                <select class='form-control basic-multiple' id='horas_disp_miercoles' multiple></select>
              </div>
              <hr/>
            </div>

            <div id="box_jueves_disp">
              <div class="form-group form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="check_disp_jueves">
                <label class="form-check-label" for="check_disp_jueves">
                  Jueves
                </label>
              </div>

              <div class="form-group mb-1 py-2">
                <label for="horas_disp_jueves" class="form-label">
                  Horas
                </label>
                <select class='form-control basic-multiple' id='horas_disp_jueves' multiple></select>
              </div>
              <hr/>
            </div>

            <div id="box_viernes_disp">
              <div class="form-group form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="check_disp_viernes">
                <label class="form-check-label" for="check_disp_viernes">
                  Viernes
                </label>
              </div>

              <div class="form-group mb-1 py-2">
                <label for="horas_disp_viernes" class="form-label">
                  Horas
                </label>
                <select class='form-control basic-multiple' id='horas_disp_viernes' multiple></select>
              </div>
              <hr/>
            </div>

            <div id="box_sabado_disp">
              <div class="form-group form-check py-2">
                <input class="form-check-input" type="checkbox" value="" id="check_disp_sabado">
                <label class="form-check-label" for="check_disp_sabado">
                  Sábado
                </label>
              </div>

              <div class="form-group mb-1 py-2">
                <label for="horas_disp_sabado" class="form-label">
                  Horas
                </label>
                <select class='form-control basic-multiple' id='horas_disp_sabado' multiple></select>
              </div>
              <hr/>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_disponibilidad_horario_consulta">Cancelar</button>
          <button type="button" class="btn btn-primary" id='btn_guardar_disponibilidad_horario_consulta'>
            Guardar
          </button>
        </div>
      </div>      
    </div>
  </div>
</div>
