<div class="modal fade" id="modal_filtros_atencion" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Búsqueda Avanzada</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_filtros_atencion'></button>
      </div>
      <div class="modal-body">
        <input type="hidden" class="form-control" id="id_usuario_autenticado">

        
        <div class="row">
          <label for="filtro_fecha_atencion_inicio" class="form-label">
            <strong>Fecha de Solicitud de Atención:</strong>
          </label>
          <div class="col-xl-6">
            <div class="form-group mb-3 py-4">
              <label for="filtro_fecha_atencion_inicio" class="form-label">
                <strong>Fecha de inicio</strong>
              </label>
              <div class='input-group'>
                <span class='input-group-addon'></span>
                <input type='text' class='form-control datepicker' placeholder='dd/mm/aaaa' id='filtro_fecha_atencion_inicio' name='filtro_fecha_atencion_inicio'>
              </div>
            </div>              
          </div>
          <div class="col-xl-6">
            <div class="form-group mb-3 py-4">
              <label for="filtro_fecha_atencion_fin" class="form-label">
                <strong>Fecha de fin</strong>
              </label>
              <div class='input-group'>
                <span class='input-group-addon'></span>
                <input type='text' class='form-control datepicker' placeholder='dd/mm/aaaa' id='filtro_fecha_atencion_fin' name='filtro_fecha_atencion_fin'>
              </div>
            </div>              
          </div>
        </div>
        <hr>
        <div class="form-group mb-3 py-4">
          <label for="filtro_sexo" class="form-label">
            <strong>Sexo</strong>
          </label>
          <select class='form-control' id='filtro_sexo' name='filtro_sexo'></select>
        </div>
        <hr>
        <div class="form-group mb-3 py-4">
          <label for="filtro_genero" class="form-label">
            <strong>Género</strong>
          </label>
          <select class='form-control' id='filtro_genero' name='filtro_genero'></select>
        </div>
        <hr>
        <div class="form-group mb-3 py-4">
          <label for="filtro_ingreso_familiar" class="form-label">
            <strong>Ingreso Familiar</strong>
          </label>
          <select class='form-control' id='filtro_ingreso_familiar' name='filtro_ingreso_familiar'></select>
        </div>
        <hr>
        <div class="form-group mb-3 py-4">
          <label for="filtro_carrera" class="form-label">
            <strong>Carrera (Licenciatura|Postgrado)</strong>
          </label>
          <select class='form-control' id='filtro_carrera' name='filtro_carrera'></select>
        </div>
        <hr>
        <div class="form-group mb-3 py-4">
          <label for="filtro_estado_atencion" class="form-label">
            <strong>Estado de Atención</strong>
          </label>
          <select class='form-control' id='filtro_estado_atencion' name='filtro_estado_atencion'></select>
        </div>
        <hr>
        <div class="form-group mb-3 py-4">
          <label for="filtro_tipo_atencion" class="form-label">
            <strong>Tipo de Atención</strong>
          </label>
          <select class='form-control' id='filtro_tipo_atencion' name='filtro_tipo_atencion'></select>
        </div>
        <hr>
        <div class="row">
          <label for="filtro_mst_nivel1" class="form-label">
            <strong>Evaluación MST Nivel 1:</strong>
          </label>
          <div class="col-xl-6">
            <div class="form-group mb-3 py-4">
              <input type="text" class="form-control input-number" id="filtro_inicio_mst_nivel1" name='filtro_inicio_mst_nivel1' placeholder="Inicial(#)">
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group mb-3 py-4">
              <input type="text" class="form-control input-number" id="filtro_fin_mst_nivel1" name='filtro_fin_mst_nivel1' placeholder="Final(#)">
            </div>
          </div>
          <hr>
        </div>
        <div class="row">
          <label for="filtro_fpp" class="form-label">
            <strong>Evaluación FPP:</strong>
          </label>
          <div class="col-xl-6">
            <div class="form-group mb-3 py-4">
              <input type="text" class="form-control input-number" id="filtro_inicio_fpp" name='filtro_inicio_fpp' placeholder="Inicial(#)">
            </div>
          </div>
          <div class="col-xl-6">
            <div class="form-group mb-3 py-4">
              <input type="text" class="form-control input-number" id="filtro_fin_fpp" name='filtro_fin_fpp' placeholder="Final(#)">
            </div>
          </div>
          <hr>
        </div>
        
        {% with user_roles=request.user.rol.all %}
          {% if user_roles|length == 1 %}
              {% if not user_roles.0.nombre == 'SOLICITANTE' %}
                  <div class="row">
                    <label class="form-label">
                      <strong>Valor de la (Pregunta 11)</strong>
                    </label>
                    <label class="form-label">
                      <strong>Tener pensamientos de dañarse a sí mismo|a?:</strong>
                    </label>
                    <div class="col-xl-6">
                      <div class="form-group mb-3 py-4">
                        <input type="text" class="form-control input-number" id="filtro_inicio_p11" name='filtro_inicio_p11' placeholder="Inicial(#)">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-group mb-3 py-4">
                        <input type="text" class="form-control input-number" id="filtro_fin_p11" name='filtro_fin_p11' placeholder="Final(#)">
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <label class="form-label">
                      <strong>Evaluación Beck:</strong>
                    </label>
                    <div class="col-xl-6">
                      <div class="form-group mb-3 py-4">
                        <input type="text" class="form-control input-number" id="filtro_inicio_beck" name='filtro_inicio_beck' placeholder="Inicial(#)">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-group mb-3 py-4">
                        <input type="text" class="form-control input-number" id="filtro_fin_beck" name='filtro_fin_beck' placeholder="Final(#)">
                      </div>
                    </div>
                    <hr>
                  </div>
              {% endif %}
          {% else %}
              <div class="row">
                <label class="form-label">
                  <strong>Valor de la (Pregunta 11)</strong>
                </label>
                <label class="form-label">
                  <strong>Tener pensamientos de dañarse a sí mismo|a?:</strong>
                </label>
                <div class="col-xl-6">
                  <div class="form-group mb-3 py-4">
                    <input type="text" class="form-control input-number" id="filtro_inicio_p11" name='filtro_inicio_p11' placeholder="Inicial(#)">
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-3 py-4">
                    <input type="text" class="form-control input-number" id="filtro_fin_p11" name='filtro_fin_p11' placeholder="Final(#)">
                  </div>
                </div>
                <hr>
              </div>
              <div class="row">
                <label class="form-label">
                  <strong>Evaluación Beck:</strong>
                </label>
                <div class="col-xl-6">
                  <div class="form-group mb-3 py-4">
                    <input type="text" class="form-control input-number" id="filtro_inicio_beck" name='filtro_inicio_beck' placeholder="Inicial(#)">
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group mb-3 py-4">
                    <input type="text" class="form-control input-number" id="filtro_fin_beck" name='filtro_fin_beck' placeholder="Final(#)">
                  </div>
                </div>
                <hr>
              </div>
          {% endif %}
        {% endwith %}

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id='btn_buscar_filtros_atencion'>Buscar</button>
          <button type="button" class="btn btn-primary" id='btn_limpiar_filtros_atencion'>Limpiar</button>
          <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_filtros_atencion">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>