<div class="modal fade" id="modal_hc" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog size_modal_80">
    <div class="modal-content">
      <div class="modal-header modal_head_bg">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Historia Clínica para la Atención</h1>
        <button type="button" class="btn-close" aria-label="Close" id='btn_cerrar_modal_hc'></button>
      </div>
      <div class="modal-body">
        <form id="form_hc">
          <input type="hidden" class="form-control" id="id_usuario">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active text-tab" id="seccion1-tab" data-bs-toggle="tab" data-bs-target="#seccion1" type="button" role="tab" aria-controls="seccion1" aria-selected="true">SECCIÓN 1</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-tab" id="seccion2-tab" data-bs-toggle="tab" data-bs-target="#seccion2" type="button" role="tab" aria-controls="seccion2" aria-selected="false">SECCIÓN 2</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-tab" id="seccion3-tab" data-bs-toggle="tab" data-bs-target="#seccion3" type="button" role="tab" aria-controls="seccion3" aria-selected="false">SECCIÓN 3</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-tab" id="seccion4-tab" data-bs-toggle="tab" data-bs-target="#seccion4" type="button" role="tab" aria-controls="seccion4" aria-selected="false">SECCIÓN 4</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-tab" id="seccion5-tab" data-bs-toggle="tab" data-bs-target="#seccion5" type="button" role="tab" aria-controls="seccion5" aria-selected="false">SECCIÓN 5</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-tab" id="observaciones-tab" data-bs-toggle="tab" data-bs-target="#observaciones" type="button" role="tab" aria-controls="observaciones" aria-selected="false">OBSERVACIONES</button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="tabContentHc">
            <div class="tab-pane fade show active" id="seccion1" role="tabpanel" aria-labelledby="seccion1-tab">
              </br>
              <h4>Información General</h4>
              </br>
              {% include "evaluacion_psicologica/historia_clinica/seccion1.html" %}
            </div>
            <div class="tab-pane fade" id="seccion2" role="tabpanel" aria-labelledby="seccion2-tab">
              </br>
              <h4>Historia Personal y Social</h4>
              </br>
              {% include "evaluacion_psicologica/historia_clinica/seccion2.html" %}
            </div>
            <div class="tab-pane fade" id="seccion3" role="tabpanel" aria-labelledby="seccion3-tab">
              </br>
              <h4>Descripción del Problema Actual</h4>
              </br>
              {% include "evaluacion_psicologica/historia_clinica/seccion3.html" %}
            </div>
            <div class="tab-pane fade" id="seccion4" role="tabpanel" aria-labelledby="seccion4-tab">
              </br>
              <h4>Espectativas respecto de la Terapia</h4>
              </br>
              {% include "evaluacion_psicologica/historia_clinica/seccion4.html" %}
            </div>
            <div class="tab-pane fade" id="seccion5" role="tabpanel" aria-labelledby="seccion5-tab">
              </br>
              <h4>Análisis de la Modalidad del Problema Actual</h4>
              </br>
              {% include "evaluacion_psicologica/historia_clinica/seccion5.html" %}
            </div>
            <div class="tab-pane fade" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
              </br>
              {% include "evaluacion_psicologica/historia_clinica/observaciones_hc.html" %}
            </div>
          </div>

          <div class="modal-footer">
            {% comment %} <button type="button" class="btn btn-secondary" id="btn_cancelar_modal_hc">Cancelar</button> {% endcomment %}
            <button type="submit" class="btn btn-primary" id='btn_agregar_hc'>
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
