{% load static %}
<!DOCTYPE html>
<html lang="es">
<body>

  <div class="card shadow-sm">
    <div class="card-body">
      <div class="form-group mb-1 py-1">
        <label for="observaciones_hc" class="form-label">
          Observaciones
        </label>
        <textarea type="text" class="form-control" rows="10" id="observaciones_hc" name='observaciones_hc'></textarea>
      </br>
      </div>

      {% with user_roles=request.user.rol.all %}
        {% if user_roles|length == 1 %}
            {% if not user_roles.0.nombre == 'SOLICITANTE' %}
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group form-check form-switch mb-1 py-1">
                      <input class="form-check-input checkCerrada" type="checkbox" value="" id="check_cerrada" checked>
                      <label class="form-check-label" for="check_cerrada" id="lbl_cerrada">
                        Abierta
                      </label>
                    </div>
                    </br>
                  </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
              <div class="col-xl-6">
                <div class="form-group form-check form-switch mb-1 py-1">
                  <input class="form-check-input checkCerrada" type="checkbox" value="" id="check_cerrada" checked>
                  <label class="form-check-label" for="check_cerrada" id="lbl_cerrada">
                    Abierta
                  </label>
                </div>
                </br>
              </div>
            </div>
        {% endif %}
      {% endwith %}

      <div class="row">
        <div class="col-xl-6">
          <div class="form-group mb-1 py-1">
            <label for="aplicado_por_hc" class="form-label">
              Aplicado por
            </label>
            <input type="text" class="form-control" id="aplicado_por_hc" name='aplicado_por_hc' disabled>
          </div>
        </div>
      </div>
  </div>
</div>

</body>

</html>