{% load static %}
<!DOCTYPE html>
<html lang="es">
<body>

  <div class="card shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-6">
          <div class="form-group mb-1 py-1">
            <label for="que_espera_terapia_hc" class="form-label">
              En unas cuantas palabras, ¿Qué piensa o espera de la terapia psicológica?
            </label>
            <textarea type="text" class="form-control" id="que_espera_terapia_hc" name='que_espera_terapia_hc'></textarea>
          </div>
    
          <div class="form-group mb-1 py-1">
            <label for="cuanto_durara_terapia_hc" class="form-label">
              ¿Cuánto cree que durará su terapia?
            </label>
            <input type="text" class="form-control" id="cuanto_durara_terapia_hc" name='cuanto_durara_terapia_hc'>
          </div>
        </div>
    
        <div class="col-xl-6">
          <div class="form-group mb-1 py-1">
            <label for="caract_terapeuta_hc" class="form-label">
              ¿Qué características cree usted que el terapeuta debe poseer?
            </label>
            <textarea type="text" class="form-control" id="caract_terapeuta_hc" name='caract_terapeuta_hc'></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>